# Configurações do Servidor
PORT=3000

# Banco de Dados (para uso futuro)
# DB_HOST=localhost
# DB_PORT=5432
# DB_NAME=tarefas_db
# DB_USER=usuario
# DB_PASSWORD=senha

# JWT (para uso futuro)
# JWT_SECRET=sua_chave_secreta_aqui

# Ambiente
NODE_ENV=development
